<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="/var/mkbackend/logs/internal-nlog.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="traces" fileName="/var/mkbackend/logs/nlog-traces-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="warnings" fileName="/var/mkbackend/logs/nlog-warnings-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="errors" fileName="/var/mkbackend/logs/nlog-errors-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="user" fileName="/var/mkbackend/logs/nlog-user-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="Program" minlevel="Trace" maxlevel="Trace" writeTo="traces"/>
    <logger name="MKFotografiaBackend*" minlevel="Trace" maxlevel="Trace" writeTo="traces"/>
    <logger name="MKFotografiaBackend*" minlevel="Warning" maxlevel="Warning" writeTo="warnings"/>
    <logger name="MKFotografiaBackend*" minlevel="Error" writeTo="errors"/>
    <logger name="MKFotografiaBackend.Services.UserService" minlevel="Trace" writeTo="user"/>
    <logger name="MKFotografiaBackend.Controllers.UserController" minlevel="Trace" writeTo="user"/>
  </rules>
</nlog>